html {
  font-size: 12px;
  scroll-behavior: smooth;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: flex;
    flex-direction: column;
  }
}

body {
  display: flex;
  flex-direction: column;
  background-color: $bg-color;
  background-image: url(../img/bg/sky.jpg),url(../img/bg/sky_pattern.jpg);
  background-repeat: no-repeat,repeat;
  background-size: 100%,150px;
  background-position: top, center;
  font-family: $georgia;
  color: $c-normal;
  font-weight: 400;

  @media screen and (max-width: $screen-lg) {
    background-image: none;

    &.load::before {
      display: none;
    }
  }

}

.container {
  max-width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
  background-color: #ededed;

  &.container--fluid {
    padding: 0; 
  }

  @media screen and (min-width: $screen-xs) {
    padding: 0 15px;
  }

  @media screen and (min-width: $screen-md) {
    padding: 0 31px;
  }
}

@supports(max-width: env(safe-area-inset-left)) {
  .container {
    max-width: calc(100% - env(safe-area-inset-left)*2);
  }
}

@keyframes a {
    0%,to {
        transform: translateX(0)
    }

    70% {
        transform: translateX(10px)
    }
}
