@font-face {
  font-family: 'Museo';
  src: url('../fonts/museo_sans/museosanscyrl_0.woff2') format('woff2'),
  url('../fonts/museo_sans/museosanscyrl_0.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo';
  src: url('../fonts/museo_sans/museosanscyrl_1.woff2') format('woff2'),
  url('../fonts/museo_sans/museosanscyrl_1.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo';
  src: url('../fonts/museo_sans/museosanscyrl_2.woff2') format('woff2'),
  url('../fonts/museo_sans/museosanscyrl_2.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo';
  src: url('../fonts/museo_sans/museosanscyrl_3.woff2') format('woff2'),
  url('../fonts/museo_sans/museosanscyrl_3.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}