//fonts
$georgia: Georgia, Arial, sans-serif;
$barlow: Barlow, Arial, sans-serif;
$iris: IrisUPS, Arial, sans-serif;
$lucida: Lucidastd, Arial, sans-serif;
$lucida-unic: Lucida_unicode, Lucidastd, Arial, sans-serif;

//main-color

$bg-color: #c5dbe8;
$container-color: #ededed;

$bg-h2: #ae0002;
$bg-h3: #cacaca;

$bg-header: #103948;
$bg-banner: #1e1e1e;

$bg-btn-video: #222222;
$bg-ico-video: #d2d2d2;
$bg-hover-menu: #092f3b;

$bg-hotest: #85afbd;

$c-hotest: #757575;

$c-normal: #757575;

$c-topmenu: #a6a6a6;
$c-menu: #f6f6f6;


$c-logo: #f6f6f6;
$c-sub-logo: #6892a0;

$c-link-news: #042b38;
$c-comment: #989898;
$c-tag: #2b5e5e;
$symbol-color: #9c8d5f;

//media
$screen-max:    1680px;
$screen-lg-max: 1200px;
$screen-lg:     999px;
$screen-md:     991px;
$screen-sm:     767px;
$screen-xs:     480px;

//other
$anim: .2s;
$radius: 5px;
