
//.logo +
.logo {
  display: block;
  max-width: 273px;
  max-height: 90px;
}

.logo__pic {
  max-width: 100%;
  margin-bottom: 11px;
}

.logo__desc {
  display: flex;
  color: $c-sub-logo;
  font-family: $lucida-unic;
  border-top: 1px solid $c-sub-logo;
  font-size: 10px;
  line-height: 2.2;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  text-decoration: none;
  user-select: none;
}

//.logo -


/* + video-item + */
.video-list {

  @media screen and (max-width: $screen-lg) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -7px;
    margin-right: -7px;
  }
}

.video-list__item {
  &:not(:last-child) {
    margin-bottom: 23px;
  }

  @media screen and (max-width: $screen-lg) {
    width: 33.33%;
    padding: 0 7px;
    margin-bottom: 23px;
  }

  @media screen and (max-width: $screen-sm) {
    width: 100%;
  }
}

.video-list__link {
  display: block;
}

.video-item__desc {

  &:hover .desc-news__title,
  &:focus .desc-news__title {
    color: $bg-h2;
  }

  &:hover .desc-news__text,
  &:focus .desc-news__text {
    color: $bg-hover-menu;
  }

  &:focus {
    outline: none;
  }

}

.video-item__pic {
  border-radius: 2px;
}

.video-item__img-wrap {
  position: relative;
  display: block;
  margin-bottom: 18px;
  padding-bottom: 92%;

  &:focus {
    outline: none;
  }

  &:hover:after,
  &:focus:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,hsla(0,0%,100%,0) 30%,rgba(0,0,0,.85));
    transition: .3s;
  } 

  &:hover .btn-video,
  &:focus .btn-video {
    background-color: $bg-h2;
  }
}


/* desc-news + */
.prev-new__link {

  &:hover,
  &:focus {

    outline: none;

    .desc-news__title {
      color: $bg-h2;
    }

    .desc-news__text {
      color: $bg-hover-menu;
    }
  }
}

.desc-news {
  display: block;
  padding: 0 2px;
}

.desc-news__title {
  margin-bottom: 8px;
  color: $c-link-news;
  line-height: 1.5;
  text-decoration: underline;
}

.desc-news__text {
  font-size: 11px;
  line-height: 1.63;
  font-style: italic;
}

.desc-news__comment-wrap {
  margin-top: -4px;
  margin-right: -6px;
  text-align: right;
}

.desc-news__comment {
  margin-left: 8px;
}
/* desc-news - */

.comment-count {
  color: $c-comment;
  padding-left: 21px;
  line-height: 1.63;
  font-style: italic;
  display: inline-block;
  background-image: url(../img/ico/speech-bubble.png);
  background-position: left 4px;
  background-repeat: no-repeat;
}

.contain-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.full-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotest {
  display: flex;
  align-items: center;
}

.hotest__ico {
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 15px;
  padding: 2px 4px;
  background: $bg-hotest;
  color: #ffffff;
  font-family: $barlow;
  font-size: 14px;
  font-style: normal;
  line-height: 1;
  border-radius: 2px;
  user-select: none;
  transition: background-color $anim;
}

.hotest__link {
  display: flex;
  width: 100%;
  align-items: center;
  font-family: $georgia;
  font-style: italic;
  font-size: 11px;
  line-height: 1.63;
  text-decoration: none;
  transition: background-color $anim;

  &:hover,
  &:focus {
    color: $bg-hover-menu;
    outline: none;
  }

  &:hover .hotest__ico,
  &:focus .hotest__ico {
    background: $bg-h2;
  }
}

.hotest__text {
  flex-grow: 2;
}

.hotest__link-arrow {
  position: relative;
  flex-grow: 3;
  animation: a 2s linear infinite;

   &::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border: 1px solid;
    border-top: none;
    border-left: none;
    transform: rotate(-45deg);
    transition: transform $anim;
  }
}

.main-menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: $screen-md) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 14;
    display: none;
    width: 100%;
    height: 100%;
    padding: 3em;
    background-color: $bg-hover-menu;
    overflow: auto;
    opacity: 0;
    transition: .5s;

    &.active {
      display: block;
    }

    &.open {
      opacity: 1;
    }
  }

}

.header-page__open-btn,
.main-menu__mobil-close {
  display: none;

  @media screen and (max-width: $screen-md) {
    display: block;
  }
}

.header-page__open-btn {
  border: 1px solid rgb(115, 0, 1);
  padding: 6px;
  border-radius: 3px;
  margin-left: auto;
  color: $c-menu;
  background-color: $bg-h2;

  @media screen and (max-width: $screen-xs) {
    border: none;
  }
}

.main-menu__mobil-close {
  position: fixed;
  right: 0;
  top: 0;
  padding: 1em;
  color: $c-topmenu;

  .close-btn {
    border: 1px solid;
  }
}

.close-btn {
    display: block;
    width: 26px;
    height: 26px;
    padding: 3px;
    opacity: .6;
    transition: opacity .3s;
}

.main-menu__item {

  &:not(:last-child) {
    padding-right: 5px;
  }

}

.main-menu__link {
  display: block;
  padding: 5px 12px;
  color: $c-menu;
  font-family: $barlow;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color $anim;

  &.active {
    background: $bg-hover-menu;
    box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2), inset 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
  }

  &:hover {
    background: $bg-hover-menu;
    box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2), inset 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
  }

  &:focus {
    box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2), inset 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    outline: none;
  }
}

//.prev-new +
.prev-new {
  display: block;
  padding: 16px;
  padding-bottom: 7px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.14);

  &:hover {
    box-shadow: none;
  }
}

.prev-new__link {
  display: block;
}

.prev-new__pic {
  transition: 0.2s linear all;
}

.prev-new__title {
  margin-bottom: 1em;
  text-align: center;
  letter-spacing: .06em;
  font-weight: 700;
}

.prev-new__date {
  margin-bottom: 1em;
  text-align: center;
  color: #9a9a9a;
  font-size: .86em;
}

.date-text {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.prev-new__img-wrap {
  overflow: hidden;
}

.prev-new__img {
  position: relative;
  display: block;
  padding-bottom: 85%;
  margin-bottom: 13px;
  overflow: hidden;

  &:hover .prev-new__pic {
    transform: scale(1.03);
    object-fit: cover;
  }
}

.prev-new__text {
  margin-bottom: 1em;
  line-height: 1.4;
  font-size: 1em;
  letter-spacing: .03em;
}
//.prev-new -


// title-sect +

.title-sect {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding-right: 13px;
  background-color: $bg-h3;
  border-radius: 2px;
  overflow: hidden;

  @media screen and (max-width: 1023px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
  }
}

.title-sect__text {
  position: relative;
  z-index: 1;
}

.title-sect__wrap {
  position: relative;
  flex-shrink: 0;
  margin-right: 35px;
}

.title-sect__pic {
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;

  &::before {

    content: "";
    transform: rotate(45deg);
    background-color: #ae0002;
    width: 27px;
    height: 27px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -12px;
    position: absolute;
    border-radius: 3px;
  }
}

.title-sect__pic-wrap {
  height: 35px;
  line-height: 35px;
  overflow: hidden;

  &:hover .title-sect__descr,
  &:focus .title-sect__descr {
    animation: text 9s infinite linear;
    outline: none;
  }

  @media screen and (max-width: $screen-lg) {
    width: auto;
    height: 26px;
    line-height: 26px;
  }
}

.title-sect__descr {
  display: block;
  white-space: nowrap;

  &:focus {
    animation: text 9s infinite linear;
    outline: none;
  }

   @media screen and (max-width: $screen-lg) {
    text-decoration: underline;
    white-space: normal;
  }
}


@keyframes text {
  0%{
    transform: translate(0, 0);
  }
  
  100%{
    transform: translate(-160%, 0);
  }

}
// title-sect -

.main-title {
  background: #ae0002;
  color: #f6f6f6;
  font-size: 18px;
  font-family: Barlow,Arial,sans-serif;
  height: 35px;
  line-height: 34px;
  padding: 0 11px;
  text-transform: uppercase;
  border-radius: 3px 0 0 3px;
  overflow: hidden;
  z-index: 1;

  &--arrow {
    padding-right: 37px;
  }
}


/* .news-ban + */
.news-ban {
  position: relative;
  display: flex;
  padding-bottom: 35.6%;
  border-radius: 2px;
  overflow: hidden;
  z-index: 1;

  &:hover,
  &:focus {

    &:after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg,hsla(0,0%,100%,0) 30%,rgba(0,0,0,.35));
      transition: .3s;
    }

    .news-ban__label {
      background-color: $bg-hover-menu;
    }
  }

  @media screen and (max-width: $screen-lg) {
    flex-direction: column;
    padding-bottom: 0%;
  }
}

.news-ban__pic {
  @media screen and (max-width: $screen-lg) {
    position: static;
    top: 0;
    left: 0;
  }
}

.news-ban__label {
  position: absolute;
  bottom: 36px;
  left: 40px;
  max-width: 336px;
  padding: 20px 18px;
  background-color: #1e1e1e;
  line-height: 1.5;
  border-radius: 3px;
  font-size: 12px;
  color: #ffffff;
  text-align: justify;
  transition: opacity .3s;
  z-index: 1;

  @media screen and (max-width: $screen-lg) {
    position: relative;
    bottom: auto;
    left: auto;
    border-radius:  3px 3px 0 0;
    max-width: none;
    order: -1;
  }
}
/* .news-ban - */

/* news-list + */
.news-list__item {
  display: grid;
  grid-gap: 0;

  &:not(last-child) {
    margin-bottom: 23px;
  }

  @media screen and (min-width: $screen-sm) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }

}

.news-list__img {

  @media screen and (max-width: $screen-sm) {
    margin-bottom: 20px;
  }

}

.news-list__img-wrap {
  position: relative;
  display: block;
  padding-bottom: 76%;
}

.news-list__pic {
  position: absolute;
  top: 0;
  left: 50%;
  min-width: 100%;
  height: 100%;
  border-radius: 2px;
  object-fit: cover;
  transform: translateX(-50%);
}

.news-list__comment {
  margin-right: 3px;
}

@media (min-width: 1024px) {
  
  .news-list__title {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .news-list__img {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
  }
  .news-list__desc {
    padding: 25px;
    grid-column-start: 2;
    grid-column-end: 5;
    padding: 20px 13px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  
  .news-list__title {
    grid-row-start: 1;
    order: 2;
    grid-column-start: 3;
    grid-column-end: 5;
  }
  
  .news-list__img {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .news-list__desc {
    grid-column-start: 3;
    grid-column-end: 5;
  }
}


.news-list__foot {
  display: flex;   
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 39px;
}

.news-list__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;  
  margin-right: 5px;
}

.news-list__tags-title {
  margin-right: 10px;
}

.news-list__social-list {
  display: flex; 
  align-items: center;  
}

.news-list__social-title {
  margin-right: 13px;
}

.news-list__text {
  display: block;
  margin-bottom: 17px;
  line-height: 1.5;

  &:hover,
  &:focus {
    color: $bg-hover-menu;
    outline: none;
  }
}

/* news-list - */


/* social-list + */
 .social-list {
    display: flex;
 }

.social-list__item:not(:last-child) {
    margin-right: 4px;
}

.social-btn {
    display: block;
    width: 16px;
    height: 16px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url(../img/ico/ico-fb.png);
    position: relative;

    &:hover {
      opacity: 0.8;
    }
}

.social-btn.social-btn--fb {
  background-image: url(../img/ico/ico-fb.png);
}

.social-btn.social-btn--tw {
  background-image: url(../img/ico/ico-tw.png);
}


/* social-list - */


/* tags + */
.tags {
  display: flex;
  flex-wrap: wrap;

  &>li {
    position: relative;
  }

  &>li:not(:last-child) {
    margin-right: 1px;

    a::before {
      content: ",";
      position: absolute;
      right: 0;
      bottom: 0;
      color: $symbol-color;
    }
  }

  li>a {
    position: relative;
    display: block;
    padding-right: 5px;
    color: $c-tag;
    font-family: $georgia;
    font-style: italic;
    line-height: 1.5;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $bg-h2;
      outline: none;
    }
  }

}

/* tags - */