
.section-item {
  padding-top: 5.5em;
  background: linear-gradient(132deg, #fff calc(100% - 746px), #f7f7f7 calc(100% - 746px));
}

.section-item__title {
  margin-bottom: 5em;
}

.full-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

//.advantages +

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -.7em;
  margin-left: -.7em;
}

.advantages-list__item {
  width: 25%;
  padding: 0 1.4em;
  margin-bottom: 4em;

  @media screen and (max-width: $screen-tablet) {
    width: 50%;
  }

  @media screen and (max-width: $screen-xs-max) {
    width: 100%;
  }
}

.advantages-item {
  display: block;
  text-align: center;
  font-size: 1rem;
}

.advantages-item__ico {
  display: block;
  margin: 0 auto;
  margin-bottom: 2em;

  @media screen and (max-width: $screen-tablet) {
    margin-bottom: 1em;
    width: 14em;
  }
}

.advantages-item__hexagon {
    display: block;
    fill: #c6ff00;
    stroke: green;
    stroke-dasharray: 816;
    stroke-dashoffset: 816;
    stroke-width: 2px;
    transition: stroke-dashoffset 2s;
    transition-delay: .2s;     
}

.advantages-item__hexagon:hover {
    stroke-dashoffset: 0;
 
}
.advantages-item__hexagon:hover polygon {
   fill: #ffffff;
}

.advantages-item__hexagon:hover .hexagon__ico {
   fill: #dcff7c;
}

//.advantages - 


//news +
.news-prev-wrap {
  position: relative;
  padding-top: 5.5em;
  padding-bottom: 2em;
}

.news-prev {
  margin-bottom: 2em;
}

.news-prev,
.text-sect {
  padding-top: 3em;
}

.text-sect {
  padding-bottom: 1em;
}

.news-prev__title {
  margin-bottom: 1.2em;
}

.text-sect__title {
  margin-bottom: 2em;
}

.news-prev__grid {
  display: flex;
  flex-wrap: wrap;
}

.news-prev__item {
  width: 25%;

  @media screen and (max-width: $screen-tablet) {
    width: 50%;
  }

  @media screen and (max-width: $screen-xs-max) {
    width: 100%;
  }
}
//news -



//.services-sect +
.services-sect {
  padding-top: 5.5em;
  padding-bottom: 5.5em;
  background-color: #706775;
  background-image: url(../img/bg/bg_slide_rotate.jpg);
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  color: #ffffff;
}

.slider-list__wrap-horizontal {
  display: flex;

  @media screen and (max-width: $screen-tablet) {
    flex-direction: column;
  }
}

.slider-list {
  display: block;
  counter-reset: count-circle;
  font-size: 1rem;
 
  
  &#item-1 .circle-nav__radius{
    transform: rotate(0);
  }
  
  &#item-2 .circle-nav__radius{
    transform: rotate(90deg);
    
    .arrow-stroke:first-child {
      stroke-dashoffset: 70;
    }
    
    .arrow-stroke:last-child {
      stroke-dashoffset: 50;
    }
  }
  
  &#item-3 .circle-nav__radius{
    transform: rotate(-90deg);
    
    .circle-nav__arrow {
      transform: scale(1, -1) rotate(-90deg);
      transform-origin: top;
    }
  }
  
  &#item-4 .circle-nav__radius{
    transform: rotate(-45deg);
    
    .circle-nav__arrow {
      transform: scale(1, -1) rotate(-90deg);
      transform-origin: top;
    }
  }
  
  &#item-5 .circle-nav__radius{
    transform: rotate(134deg);

    .arrow-stroke:first-child {
      stroke-dashoffset: 70;
    }

    .arrow-stroke:last-child {
      stroke-dashoffset: 50;
    }
  }
  
  &#item-6 .circle-nav__radius{
    transform: rotate(180deg);
  }
  
  @media screen and (max-width: $screen-sm-max) {
    display: block;
  }
}

.slider-list__item {
  display: flex;
  align-items: center;
  width: calc(32% - 3.125em);
  
  @media screen and (max-width: $screen-tablet) {
    width: 100%;
  }
  
  // @media screen and (max-width: $screen-sm-max) {
  //   width: 100%;
  // }
}

.slider-list__item--top {
  width: 100%;
}

.slider-list__item--bottom {
  width: 100%;
}

.slider-list__radius {
  align-self: center;
  margin: 0 auto;
  padding: 50px;
  width: calc( 36% + 6.5em );
  overflow: hidden;
  
  @media screen and (max-width: $screen-tablet) {
    display: none;
  }
}

.slider-list__radius-wrap {
  position: relative;
  padding-bottom: 100%;
}

.circle-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle-nav__radius {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: $brand-color;
  transition: transform $anim *2;
  
  &.active {
    .stoke-w {
      stroke-dashoffset: 0;
    } 
    
    .arrow-stroke {
      stroke-dashoffset: 0;
    }
  } 
}

.stoke-w {
  stroke-width: 1px;
  stroke-dashoffset: 240;
  stroke-dasharray: 240;
  transition: stroke-dashoffset $anim *2;
}

.circle-nav__imgs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 73%;
  height: 70%;
  margin: auto;
}

.circle-nav__arrow {
  position: absolute;
  top: 7px;
  right: calc(100% - 3.125em);
  width: 100px;
  transition: transform $anim;
}

.arrow-stroke {
  stroke-width: 1px;
  stroke-dashoffset: 70;
  stroke-dasharray: 70;
  transition: stroke-dashoffset $anim *2;
}

.circle-nav__photo {
  position: absolute;
  width: 8em;
  height: 8em;
  margin: auto;
  cursor: pointer;
  will-change: transform;
  transition: 0.3s all ease;

  @media screen and (max-width: $screen-tablet) {
    position: static;
    margin-bottom: 1em;
  }

  // &.circle-nav__photo--active-photo img {
  //   border-color: $theme_light;
  // }

  &.circle-nav__photo--top {
    top: -30px;
    left: 0;
    right: 0;
  }

  &.circle-nav__photo--left {
    top: 0;
    left: -30px;
    right: auto;
    bottom: 0;
  }

  &.circle-nav__photo--right {
    top: 0;
    left: auto;
    right: -30px;
    bottom: 0;
  }

  &.circle-nav__photo--bottom {
    top: auto;
    left: 0;
    right: 0;
    bottom: -30px;
  }

  &.circle-nav__photo--mob {
    display: none;

    @media screen and (max-width: $screen-tablet) {
      display: block;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      margin-top: 0.85em;
      margin-bottom: 2.6em;
    }
  }

  &:hover {
    transform: scale(1.05);
    // width: 9em;
    // height: 9em;
  }

}
.circle-nav__photo > .full-pic {
    border-radius: 50%;
    border: 8px solid #eee;
}

.circle-nav__item-img {
  position: relative;
  padding-bottom: 96%;
}

.circle-nav__pic {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 82%;
  width: 50%;
  margin: auto;
  object-fit: contain;
}

.circle-nav__item-title {
  display: block;
  font-size: 1.5em;
  color: $black;
  text-align: center;
  text-transform: uppercase;
}

.circ-item__desc {
  @media screen and (max-width: $screen-tablet) {
    padding: 0;
    order: -2;
  }
}

.circ-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-top: -1em;
  margin-bottom: -1em;
  
  &.circ-list--left {
    text-align: right;
    
    .circ-item__desc {
      padding-right: 1.25em;
      
      @media screen and (max-width: $screen-tablet) {
        padding: 0;
      }
    }
  }

  &.circ-list--top {
    text-align: center;
    align-items: center;

    .circ-item__title {
      margin-bottom: 1em;
    }
  }

  &.circ-list--bottom {
    text-align: center;
    align-items: center;

    .circ-item__title {
      margin-bottom: 1em;
    }
  }
  
  &.circ-list--right {
    .circ-item__desc {
      order: 999;
      padding-left: 1.25em;
      
      @media screen and (max-width: $screen-tablet) {
        order: -2;
        padding: 0;
      }
    }
    
    .circ-item__img {
      order: 9999;
      
      @media screen and (max-width: $screen-tablet) {
        order: 1;
      }
    }
  }
  
  @media screen and (max-width: $screen-tablet) {
    margin: 0;
    margin-left: -1em;
    margin-right: -1em;
  }
}

.circ-list__item {
  padding: 1em 0;

  @media screen and (min-width: $screen-tablet) {
    &.active {
      .circ-item__title {
        color: #8cef0a;
      }
    }
  }
  
  @media screen and (max-width: $screen-tablet) {
    padding: 0 1em;
    margin-bottom: 2em;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.circ-item {
  display: flex;
  align-items: center;
  cursor: pointer;

  &--top {
    flex-direction: column;
  }

  &--bottom {
    flex-direction: column;
  }

  &--left {
    justify-content: flex-end;
  }  
  
  @media screen and (max-width: $screen-tablet) { 
    cursor: default;

    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  @media screen and (min-width: $screen-tablet) {
    &:active {
      .circ-item__title, .circ-item__count {
        color: $brown;
      }
    }
    
    @media screen  and (min-width: $screen-tablet) {
      &:hover {
        .circ-item__title {
          color: #8cef0a;
        }
      }
    }
  }
  
  // @media screen and (max-width: $screen-sm-max) {
  //   flex-direction: column;
  //   align-items: center;
  //   text-align: center;
  // }
}

.circ-item__count {
  flex-shrink: 0;
  position: relative;
  width: 3em;
  height: 3em;
  color: $brand-color;
  transition: color $anim;
  
  &:after {
    counter-increment: count-circle;
    content: counter(count-circle, decimal-leading-zero);
    display: block;
    height: 1em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1em;
    text-align: center;
    
    @media screen and (max-width: $screen-sm-max) {
      // margin-bottom: 10px;
      transform: rotate(0);
    }
  }
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: $theme_color;
    background-image: linear-gradient(90deg, $theme_light, $theme_color);
    border-radius: 50%;
    
    // @media screen and (max-width: $screen-sm-max) {
    //   display: none;
    // }
  }
  
  @media screen and (max-width: $screen-tablet) {
    order: -1;
  }
}

.circ-list__item.active .circ-item__count:before {
  @media screen and (min-width: $screen-tablet) {
    animation: pulse 1.5s infinite ease-out;
 }
}

.circ-item__title {
  display: block;
  font-weight: 700;
  transition: color $anim;

  @media screen and (max-width: $screen-tablet) {
    margin-bottom: 1em;
  }
}

.circ-item__text {
  font-size: 0.875em;
  line-height: 1.429;
}

.circ-item__img {  
  flex-shrink: 0;
  width: 80px;
  
  // @media screen and (min-width: $screen-tablet) {
    display: none;
  // }
  
  @media screen and (max-width: $screen-sm-max) {
    margin-bottom: 1em;
  }
}

.circ-item__pic {
  width: 100%;
}
//.services-sect -
